<!--The content below is only a placeholder and can be replaced.-->
<div class="page-content">
  <div class="mb32">
      <h3>*ngIf change detection</h3>
      <button type="button" (click)="onClickFn()">Click</button>
      <p #test *ngIf="isShown">Use ChangeDetectorRef to detect changes</p>
  </div>
  <div class="mb32">
      <h3>Night sky</h3>
      <p>I know! There are 
        <input type="number"
          class="string-input"
          [(ngModel)]="starsAmount" 
          (ngModelChange)="onStarsAmountChange()"/> 
        stars at the sky!
      </p>
      <app-night-sky [starsAmount]="starsAmount"></app-night-sky>
  </div>
  
</div>

<router-outlet></router-outlet>
